<!DOCTYPE html><html lang="en"><head>
	<title>__title__</title>
	<meta name="description" content="__description__">
	<meta name="google-site-verification" content="__google-site-verification__">
	<meta name="keywords" content="__keywords__">
	<meta name="msvalidate.01" content="__msvalidate.01__">
	<meta name="twitter:description" content="__twitter:description__">
	<meta name="twitter:image" content="__twitter:image__">
	<meta name="twitter:title" content="__twitter:title__">
	<meta name="twitter:url" content="__twitter:url__">
	<meta property="article:author" content="__article:author__">
	<meta property="article:publisher" content="__article:publisher__">
	<meta property="fb:app_id" content="__fb:app_id__">
	<meta property="og:description" content="__og:description__">
	<meta property="og:image" content="__og:image__">
	<meta property="og:site_name" content="__og:site_name__">
	<meta property="og:title" content="__og:title__">
	<meta property="og:type" content="__og:type__">
	<meta property="og:url" content="__og:url__">
	<meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><meta name="theme-color" content="#000000"><link rel="manifest" href="/manifest.json"><link rel="shortcut icon" href="/favicon.ico"><title>React App</title><link href="/static/css/main.cacbacc7.css" rel="stylesheet"></head><body><noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div><h1>SEO Tester</h1><h2>Open your browser developer tools and checkout the head tag</h2><h3><ul><li><a href="/">Home</a></li><li><a href="/todo/1">Todo 1</a></li><li><a href="/todo/2">Todo 2</a></li></ul></h3><script type="text/javascript" src="/static/js/main.9fdf0e48.js"></script></body></html>